[submodule "core-module"]
	path = core-module
	url = https://github.com/agiaerodev/core-module.git
[submodule "helpers-module"]
	path = helpers-module
	url = https://github.com/agiaerodev/helpers-module.git
[submodule "patform-base-cli"]
	path = patform-base-cli
	url = https://github.com/agiaerodev/patform-base-cli.git
