[submodule "Core"]
    path = Core
    url = https://github.com/imagina/imaginacmsnet-core.git
[submodule "Isite"]
    path = Isite
    url = https://github.com/imagina/imaginacmsnet-isite.git
[submodule "Ihelpers"]
    path = Ihelpers
    url = https://github.com/imagina/imaginacmsnet-ihelpers.git
[submodule "Ramp"]
    path = Ramp
    url = https://github.com/agionedev/imaginacmsnet-ramp.git
