[submodule "core-module"]
	path = core-module
	url = https://github.com/agiaerodev/core-module.git
[submodule "helpers-module"]
	path = helpers-module
	url = https://github.com/agiaerodev/helpers-module.git
[submodule "platform-base-cli"]
	path = platform-base-cli
	url = https://github.com/agiaerodev/platform-base-cli.git
